<!doctype html>
<html>

    <head>
        <title>The Grove | Dashboard</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
        <link rel='icon' href='/img/favicon.ico'>
        
        </head>
        
        <style>
            body {
            background-image: url('/img/404.png');
            background-size: cover
            background-repeat: no-repeat
            overflow: hidden
        }
            
            
        </style>
        
        
        404
        
        You broke the internet.
        
</html>