<!doctype html>
<html>

    <head>
        <title>The Grove | 404 ERROR</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
        <link rel='icon' href='/img/favicon.ico'>
        
        </head>
        
        <style>
            body {
            background-color:black;
        }
        h1 {
        font-family: Serif;
        font-size: 50pt;
        color: red;
        position:center;
        }
        </style>
        
        <img src='/img/HA.png' href='/'>
        <h1>
        404.
        Congratulations!!!!
        You broke the internet. 
        </h1>
</html>