<!doctype html>
<html>
 <!--   <meta HTTP-EQUIV="REFRESH" content="10; url=https://grove-tramans.c9users.io/admin"> -->
    <title>The Grove | Settings</title>
    <link rel='icon' href='/img/favicon.ico'>
    <meta name='description' content='Welcome to The Grove, a browser-based MMORPG!'>
    <link rel='author' href='https://c9.io/tramans'>
    <script src='js/vendor/dat.gui.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    
            <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='/admin?redir=login' class='waves-effect waves-light btn-large purple z-depth-3'>Admin</a>
    <style>
        body {
            background-color: #81c784;
        }
        
        </style>
    <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11237764; 
var sc_invisible=1; 
var sc_security="b56c9e8d"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code for Default Guide -->
    
    
</html>