<!doctype html>
<html>

<head>
    <title>The Grove | Home</title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel='stylesheet' href='/css/index.css'>
    <link rel='icon' href='/img/favicon.ico'>
    <meta name='description' content='Welcome to The Grove, a browser-based MMORPG!'>
    <link rel='author' href='https://c9.io/tramans'>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Aldrich', sans-serif;
            font-size: 40pt;
            color: #37474f;
        }
    </style>
</head>
<body>
    <center>
        <h1>The Grove</h1>
        <br>
        <a href='/login' class='waves-effect waves-light btn-large light-green z-depth-3'>Login</a>
        <br>
        <br>
        <br>
        <a href='/register' class='waves-effect waves-light btn-large red z-depth-3'>Register</a>
        <br>
        <br>
        <br>
        <a href='/license' class='waves-effect waves-light btn-large purple z-depth-3'>License</a>
    </center>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <!--  <script>
        $(document).mousemove(function(event) {
            var Xdeg = 0;
            var Ydeg = 0;
            Ydeg = 90 - (event.pageX * 90) / ($(document).width() / 2);
            Xdeg = -90 + (event.pageY * 90) / ($(document).height() / 2);
            $('a').css('transform', 'translateZ( -200px ) perspective( 600px ) rotateY( ' + Ydeg / 4 + 'deg ) rotateX( ' + Xdeg / 4 + 'deg )');
            $('h1').css('transform', 'translateZ( -200px ) perspective( 600px ) rotateY( ' + Ydeg / 16 + 'deg ) rotateX( ' + Xdeg / 16 + 'deg )');
        });
    </script>
</body>
--!>


<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project = 10664980;
    var sc_invisible = 1;
    var sc_security = "ee6552ce";
    var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
    document.write("<sc" + "ript type='text/javascript' src='" +
        scJsHost +
        "statcounter.com/counter/counter.js'></" + "script>");
</script>
<!-- End of StatCounter Code for Default Guide -->

</html>
