<!doctype html>
<html>

    <head>
        <title>The Grove | Home</title>
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='icon' href='/img/favicon.ico'>
        <script src='/bower_components/jquery/dist/jquery.min.js'></script>
        <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
      
        <style>
        @import url('https://fonts.googleapis.com/css?family=Megrim');
            html,
            body {
                background-image: url('/img/forest.png');
                background-size: cover;
            }
            
            h1 {
                color: white;
                margin: 150px;
                font-size: 70px;
            }
            
            button {
                margin-left: 150px;
                margin-top: -100px;
                padding: 15px 30px !important;
            }
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            margin-bottom: 15px;
        }
        
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        
        .closebtn:hover {
            color: black;
        }
        .grove {
            font-family: Megrim, cursive;
        }
        </style>

        <!-- redirect the page to heroku

        <meta http-equiv="refresh" content="0; URL='https://grove-mmo.herokuapp.com'" /> 
       
        END    -->
    </head>
<div class="grove">
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> Open In chrome!
    </div>
    
<body>
    
        
            <h1>The Grove</h1>
    
    <button class='btn btn-success btn-lg'><a href='/login' style='color:white;text-decoration:none;'>Login</a></button><br><br><br><br>
    <button class='btn btn-success btn-lg'><a href='/register' style='color:white;text-decoration:none;'>Register</a></button><br><br><br><br>
    <button class='btn btn-success btn-lg'><a href='/license' style='color:white;text-decoration:none;'>License</a></button><br><br><br><br>
    <img src='/img/HybridAlpaca.png' width='75' style='position:fixed;right:0;bottom:0;'>
    <img src='/img/Artifex.png' width='75' style='position:fixed;left:0;bottom:0;'>
    </div>
</body>



    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project = 10664980;
        var sc_invisible = 1;
        var sc_security = "ee6552ce";
        var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
        document.write("<sc" + "ript type='text/javascript' src='" +
            scJsHost +
            "statcounter.com/counter/counter.js'></" + "script>");
    </script>
    <!-- End of StatCounter Code for Default Guide -->

</html>
