<!doctype html>
<html>

    <head>
        <title>The Grove</title>
        <link rel='icon' href='/img/favicon.ico'>
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/login.css'>
    </head>

    <body>
        <form method='post' action='/login' class='jumbotron' style='margin:100px;'>
            <div class='container-fluid'>
                <span style='color:red;' id='error'>NOTE: All accounts have been deleted as of 12/21/2016!!!</span>
                <input name='username' placeholder='Username' class='form-control'>
                <br>
                <input name='password' placeholder='Password' type='password' class='form-control'>
                <br>
                <input name='type' type='hidden' value='login'>
                <input type='submit' class='btn btn-primary'>
                <br>
                <a href='/register'>Register</a>
                <br>
                <br>
            </div>
        </form>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script>
            $(document).mousemove(function(event) {
                var Xdeg = 0;
                var Ydeg = 0;
                Ydeg = 90 - (event.pageX * 90) / ($(document).width() / 2);
                Xdeg = -90 + (event.pageY * 90) / ($(document).height() / 2);
                $('form').css('transform', 'translateZ( -200px ) perspective( 600px ) rotateY( ' + Ydeg / 16 + 'deg ) rotateX( ' + Xdeg / 16 + 'deg )');
            });
        </script>
        <script>
            function gp(a, b) {
                if (!b) b = window.location.href;
                a = a.replace(/[\[\]]/g, "\\$&");
                var r = new RegExp("[?&]" + a + "(=([^&#]*)|&|#|$)"),
                    v = r.exec(b);
                if (!v) return null;
                if (!v[2]) return '';
                return decodeURIComponent(v[2].replace(/\+/g, " "));
            }
            if (gp('err') == 'not_found') document.getElementById('error').innerHTML = 'Error: User not found!';
        </script>
    </body>

</html>
