<!doctype html>
<html>

    <head>
        <title>The Grove | Login</title>
        <link rel='icon' href='/img/favicon.ico'>
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel='stylesheet' href='/css/login.css'>
    </head>

    <body>
        <form method='post' action='/login' class='jumbotron' style='margin:100px;'>
            <div class='container-fluid'>
                <input name='username' placeholder='Username' class='form-control'>
                <br>
                <input name='password' placeholder='Password' type='password' class='form-control'>
                <br>
                <input name='type' type='hidden' value='login'>
                <input type='submit' class='btn btn-primary'>
                <br>
                <br><p>Don't have an account yet? <a href='/register'>Register</a> here!</p>
                <a href='/' >Back</a>
                <br>
                <br>
            </div>
        </form>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
       
        <script>
            function gp(a, b) {
                if (!b) b = window.location.href;
                a = a.replace(/[\[\]]/g, "\\$&");
                var r = new RegExp("[?&]" + a + "(=([^&#]*)|&|#|$)"),
                    v = r.exec(b);
                if (!v) return null;
                if (!v[2]) return '';
                return decodeURIComponent(v[2].replace(/\+/g, " "));
            }
            if (gp('err') == 'not_found') document.getElementById('error').innerHTML = 'Error: User not found!';
        </script>
    </body>
    
    
    <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11237751; 
var sc_invisible=1; 
var sc_security="1308445a"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code for Default Guide -->

</html>
