<!doctype html>
<html>

    <head>
        <title>The Grove | Login</title>
        <link rel='icon' href='/img/favicon.ico'>
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel='stylesheet' href='/css/login.css'>
    </head>

    <body>
        <form method='post' action='/login' class='jumbotron' style='margin:100px;'>
            <div class='container-fluid'>
                <input name='username' placeholder='Username' class='form-control'>
                <br>
                <input name='password' placeholder='Password' type='password' class='form-control'>
                <br>
                <input name='type' type='hidden' value='login'>
                <input type='submit' class='waves-effect waves-light btn-large light-green z-depth-3'>
                <br>
                <br>
                <a href='/register' class='waves-effect waves-light btn-large gray z-depth-3'>Register</a>
                <br>
                <br>
                <a href='/' class='waves-effect waves-light btn-large red z-depth-3'>Back</a>
                <br>
                <br>
            </div>
        </form>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
       
        <script>
            function gp(a, b) {
                if (!b) b = window.location.href;
                a = a.replace(/[\[\]]/g, "\\$&");
                var r = new RegExp("[?&]" + a + "(=([^&#]*)|&|#|$)"),
                    v = r.exec(b);
                if (!v) return null;
                if (!v[2]) return '';
                return decodeURIComponent(v[2].replace(/\+/g, " "));
            }
            if (gp('err') == 'not_found') document.getElementById('error').innerHTML = 'Error: User not found!';
        </script>
    </body>

</html>
