<!doctype html>
<html>

    <head>
        <title>Login | The Grove</title>
        <link rel='icon' href='/img/favicon.ico'>
        <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/login.css'>
    </head>

    <body>
        <div class='container-fluid'>
            <span style='color:white;text-align:center;' id='error'></span>
        </div>
        <form method='post' action='/login' class='jumbotron' style='margin:100px;'>
            <div class='container-fluid'>
                <input name='username' placeholder='Username' class='form-control'>
                <br>
                <input name='password' placeholder='Password' type='password' class='form-control'>
                <br>
                <input name='type' type='hidden' value='login'>
                <input type='submit' class='btn btn-primary'>
                <br>
                <a href='/register'>Register</a>
                <br>
                <br>
            </div>
        </form>
        <script>
            function gp(a, b){if (!b) b = window.location.href;a = a.replace(/[\[\]]/g, "\\$&");var r = new RegExp("[?&]" + a + "(=([^&#]*)|&|#|$)"),v = r.exec(b);if (!v) return null;if (!v[2]) return '';return decodeURIComponent(v[2].replace(/\+/g, " "));}if (gp('err') == 'not_found') document.getElementById('error').innerHTML = '<h3>Error: User not found!</h3>';
        </script>
    </body>

</html>
