<!doctype html>
<html>

    <head>
        <title>Play | The Grove</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <link rel='stylesheet' href='/css/play.css'>
        <link rel='icon' href='/img/favicon.ico'>
    </head>

    <body>

        <div id='crosshair' style='position:fixed;left:50%;top:50%;'>[ &times; ]</div>

        <div id="blocker">
            <center id="instructions">
                <span style="font-size:50px" id='splash-title'>Loading...</span>
                <br>
                <div id='splash-secondary'>
                    <div id='loading-bar'></div>
                </div>
            </center>
        </div>

        <div id="pause" class="modal">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>

        <div id='hud'>
            <div id='health' class="text-xs-center">Loading...</div>
            <progress id='health-bar' class="progress progress-success" value="100" max="100"></progress>
        </div>
        
        <div id='quest-alert'>
            <p>Loading...</p>
            <small>Loading...</small>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.2.3.min.js" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

        <script src='/js/vendor/three.min.js'></script>
        <script src='/js/vendor/cannon.min.js'></script>
        <script src='/js/vendor/THREEx.PointerLockControls.js'></script>
        <script src='/js/vendor/THREEx.ObjCoord.js'></script>
        <script src='/js/vendor/cannon.debug.js'></script>

        <script>
            window.__D = {
                username: '<%= user.username %>',
                password: '<%= user.password %>'
            };

            console.log('Game Play has Started.');
            String.prototype.capitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };
            window.onerror = (msg, url, linenumber) => {
                alert(`Error message: ${msg}\nURL: ${url}\nLine Number: ${linenumber}`);
                return true;
            };
        </script>

        <script src='/js/engine/pointerlock.js'></script>
        <script src='/js/latest.min.js'></script>
    </body>


    <!-- Start of StatCounter Code for Default Guide -->
    <script>
        var sc_project = 11138604;
        var sc_invisible = 1;
        var sc_security = "782685fb";
        var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
        document.write("<sc" + "ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
        console.log('StatCounter Activated.');
    </script>
    <!-- End of StatCounter Code for Default Guide -->


</html>
