<!doctype html>
<html>

    <head>
        <title>Play | The Grove</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
        <link rel='icon' href='/img/favicon.ico'>

        <style>
            @import url('https://fonts.googleapis.com/css?family=Megrim');
            html,
            body {
                overflow: hidden;
            }
            
            #blocker {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 1.0);
                z-index: 5;
            }
            
            #instructions {
                width: 100%;
                height: 100%;
                display: -webkit-box;
                display: -moz-box;
                display: box;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                box-orient: horizontal;
                -webkit-box-pack: center;
                -moz-box-pack: center;
                box-pack: center;
                -webkit-box-align: center;
                -moz-box-align: center;
                box-align: center;
                color: #ffffff;
                text-align: center;
                cursor: pointer;
                font-family: Megrim, cursive;
            }
            
            #hud {
                position: fixed;
                left: 5%;
                bottom: 0px;
                width: 90%;
            }
        </style>
    </head>

    <body>

        <div id="blocker">
            <div id="instructions">
                <span style="font-size:50px" id='splash-title'>Loading...</span>
                <br /> Click to Skip
            </div>
        </div>

        <div class="modal fade" id='pause'>
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Paused</h4>
                        <img src='/img/Grove-logos/Grove-logo-1.png' width='70'>
                    </div>
                    <div class="modal-body">
                        <p>The Grove is currently paused...</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Resume</button>
                        <a class="btn btn-danger" href='/'>Quit</a>
                    </div>
                </div>
            </div>
        </div>

        <div id='hud'>
            <div id='health' class="text-xs-center" id="example-caption-6">Loading...</div>
            <progress id='health-bar' class="progress progress-success" value="100" max="100"></progress>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="//code.jquery.com/jquery-2.2.3.min.js" crossorigin="anonymous"></script>
        <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
        <!--<script src="//cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>-->

        <script src='/js/vendor/three.min.js'></script>
        <script src='/js/vendor/cannon.min.js'></script>
        <script src='/js/vendor/THREEx.PointerLockControls.js'></script>
        <script src='/js/vendor/THREEx.ObjCoord.js'></script>
        <script src='/js/vendor/cannon.debug.js'></script>

        <script>
            console.log('Game Play has Started.');

            String.prototype.capitalize = function () {
                return this.charAt(0).toUpperCase() + this.slice(1);
            };

            window.onerror = (msg, url, linenumber) => {
                alert('Error message: ' + msg + '\nURL: ' + url + '\nLine Number: ' + linenumber);
                return true;
            };
            var socket = io();
            socket.emit('client-credentials', {
                username: '<%= user.username %>',
                password: '<%= user.password %>'
            });
            // $('form').submit(function () {
            //     var msg = $('#m').val();
            //     msg = msg.replace(/@map/gi, userdata.map.capitalize());
            //     msg = msg.replace(/@race/gi, userdata.race.capitalize());
            //     msg = msg.replace(/@class/gi, userdata.class.capitalize());
            //     msg = msg.replace(/:D/gi, 'ðŸ˜ƒ');
            //     msg = msg.replace(/:\)/gi, 'ðŸ˜Šï¸');
            //     socket.emit('chat message', userdata.username + ': ' + msg);
            //     $('#m').val('');
            //     return false;
            // });

            // socket.on('chat message', msg => {
            //     var elem = $('<li>').text(msg).appendTo('#messages');
            //     setTimeout(function () {
            //         elem.fadeOut();
            //     }, 10000);
            // });
        </script>

        <script src='/js/engine/pointerlock.js'></script>
        <script src='/js/latest.min.js'></script>
    </body>


    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project = 11138604;
        var sc_invisible = 1;
        var sc_security = "782685fb";
        var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
        document.write("<sc" + "ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></" + "script>");
        console.log('StatCounter Activated.');
    </script>
    <!-- End of StatCounter Code for Default Guide -->


</html>
