<html>
    
    
    <head>
        <title>The Grove | Reset Password</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <link rel='icon' href='/img/favicon.ico'>
    </head>
    <style>
        
        body {
            background-color: #888d99  ;
        }
        h1 {
            color: white;
            margin: 150px;
            font-size: 60px;
        }
        
        h3 {
            color: white;
            margin: 130px;
            font-size: 30px;
        }
        h2 {
            color: white;
        }
        button {
            margin-left: 150px;
            margin-top: -100px;
            padding: 15px 30px !important;
        }
        .back-btn {
            color: white;
            text-decoration: none;
            background: #66bb6a;
            padding: 20px;
            border-radius: 7.5px;
            font-size: 17px;
        }
    </style>
    <body>
        <h2>&nbsp;Password Reset</h2>
        <br>
        <form class='container' action='/pwreset' method='POST'>
            <input placeholder='Username' name='username' class='validate'>
            <input placeholder='Password' name='password' class='validate'>
            <input placeholder='New Password' name='new' class='validate'>
            <input type='submit' value='Submit' class='btn btn-lg btn-success'>
            <br><br><a href='/settings' class='waves-effect waves-light btn-large red z-depth-3'>Back</a>
        </form>
    </body>
    
    
    <!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=11237761; 
var sc_invisible=1; 
var sc_security="8d50b0c4"; 
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<!-- End of StatCounter Code for Default Guide -->




</html>