<!doctype html>
<html>

<head>
    <title>The Grove | Settings</title>
    <link rel='icon' href='/img/favicon.ico'>
    <meta name='description' content='Welcome to The Grove, a browser-based MMORPG!'>
    <link rel='author' href='https://c9.io/tramans'>
    <script src='js/vendor/dat.gui.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

</head>

<body>

    <style>
        body {
            background-color: #81c784;
        }
        h2 {
            font-family: Serif;
            font-size: 30pt;
            color: #37474f;
        }
        .back-btn {
            color: white;
            text-decoration: none;
            background: #66bb6a;
            padding: 20px;
            border-radius: 7.5px;
            font-size: 17px;
        }
        p {
            font-family: Serif;
            font-size: 12pt;
            color: #37474f;
        }
    </style>
    <div class='container-fluid'>
        <h2 class='h2'> &nbsp;Settings</h2>
        <p>&nbsp;&nbsp;&nbsp;Use the box at the top right corner and the options below to customize the settings!</p>
        <h3>Changing your Password</h3>
        <p>&nbsp;&nbsp;&nbsp;<a href='/pwreset' class='waves-effect waves-light btn-large light-green z-depth-3'>Start resetting your password.</a></p>
        <br>
        &nbsp;&nbsp;&nbsp;<a href='/' class='waves-effect waves-light btn-large red z-depth-3'>Back to the Dashboard!</a>
    <script>
        window.onload = function() {
            var controls = new function() {
                this.renderer = 'webgl'; 
                this.framerate = 60;
                this.shadow = 2048;
            }
            function c() {
                
            }
            var gui = new dat.GUI(); //datGuia
            gui.add(controls, 'renderer', ['webgl', 'canvas', 'svg']).onChange(c);
            gui.add(controls, 'shadow', 1024, 10240).step(1024).onChange(c);
            gui.add(controls, 'framerate', 1).onChange(c);
        }
    </script>
</body>

</html>
