<!DOCTYPE html>
<html>

<head>
    <title>The Grove | Store </title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet">
    <link rel='icon' href='/img/favicon.ico'>
</head>

<body>
<style>
    body {
        background-color: #43a047;
    }
    
    h1 {
    font-family: Serif;
            color: black;
    }
    
</style>
<h1>&nbsp;Sorry! This page is currently being developed! &nbsp;Check back later!</h1>
<br>&nbsp;&nbsp;&nbsp;&nbsp;<a href='/' class='waves-effect waves-light btn-large red z-depth-3'>Back</a>
</body>

</html>
