@import url('https://fonts.googleapis.com/css?family=Megrim')
$font-stack: Megrim, sans-serif

html,
body
  overflow: hidden
  width: 100%
  height: 100%
    
.hotbar
  border: 1px solid #eee
  margin-left: 4px
  margin-right: 4px
  text-align: center
  line-height: 50px
  font-size: 14px
  color: white
  padding: 0
  
  &.active
    background: tomato
    
#blocker
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 1.0)
  z-index: 5
  
#underlay
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.8)
  z-index: 5

#instructions
  margin-top: 20%
  color: #ffffff
  cursor: pointer
  font: 100% $font-stack

#loading-bar
  background: red
  height: 50px
  width: 90%

#hud 
  position: fixed
  left: 5%
  bottom: 0px
  width: 90%
  
#quest-alert
  position: fixed
  right: 0
  top: 20%
  width: 280px
  height: 90px
  padding-left: 30px
  padding-top: 20px
  background-image: url(/img/QuestBar.png)
  color: white
  p
    margin-bottom: -4px
    
#gui
  position: fixed
  width: 70%
  height: 70%
  left: 15%
  top: 15%
  background-image: url(/img/gui.png)
  background-size: cover